@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using static Fresh724.Entity.Entities.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Fresh724.Entity.Entities
@model IPagedList<Fresh724.Entity.Entities.Product>
@{
    ViewData["Title"] = "Index";
}

<h2>Trending <b>Products</b></h2>

	 @foreach (Category category in ViewBag.Categories)
	 {
	     <h4>@category.Name<bb>Produkter</bb></h4>
	     <div class="row pb-3">
             <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">

                 <div class="carousel-inner">
                     @foreach (var product in Model)
                     {
                         if (product.CategoryName == @category.Name)
                         {
                             <div class="carousel-item active">
                                 <div class="card">
                                     <div class="img-wrapper"> <img src="@product.ImageUrl" class="d-block w-100" alt="..."> </div>
                                     <div class="card-body">
                                         <div class="d-flex justify-content-between p-3">
                                             <p>@Html.ActionLink("", "Index", new { currentFilter = ViewBag.CurrentFilter })</p>
                                             <p class="card-title h5 text-primary">@Html.DisplayFor(modelItem => product.Title)</p>
                                             <div
                                                 class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-3-strong"
                                                 style="width: 60px; height: 60px;">
                                                 <p class="text-white mb-0 small">@product.Status</p>
                                             </div>
                                         </div>
                                         <div class="pl-1">
                                             <p class="card-title text-info">by <b>@product.CreatedBy</b></p>
                                             <p>@Html.ActionLink("", "Index", new { currentFilter = ViewBag.CurrentFilter })</p>
                                             <p class="badge bg-warning pt-2" style="height:30px;"><b>@Html.DisplayFor(modelItem => product.CategoryName)</b></p>
                                         </div>
                                         <div class="pl-1">
                                             <p><b> Kr @product.PurchasePrice.ToString("0.00")</b></p>
                                         </div>
                                         <a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">Details</a>
                                     </div>
                                 </div>
                             </div>
                             
                         }
                     }
                 </div>

                 <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="visually-hidden">Previous</span>
                 </button>
                 <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="visually-hidden">Next</span>
                 </button>
             </div>

         </div>
	     
	    
	 }





Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                      
                                      @Html.PagedListPager(Model, page => Url.Action("Index",
                                          new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), Bootstrap4PagedListRenderOptions.Classic)
    

       
       				                                                