@model Fresh724.Entity.Entities.CartList
@using Microsoft.Extensions.Options
@using Fresh724.Service
@inject IOptions<Fresh724.Service.StripeService> Stripe

<form method="POST">
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-dark text-light ml-0">
				<div class=" row container">
					<div class="col-6">
						<i class="fa fa-shopping-cart"></i> &nbsp;
						Order Summary
					</div>
					<div class="col-6 text-end">
						<a asp-action="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-info">Address Details:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>FirstName</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderShopping.FirstName" class="form-control" />
									<span asp-validation-for="OrderShopping.FirstName" class="text-danger"></span>
								</div>
								<div class="col-3">
										<label>LastName</label>
										</div>
									<div class="col-9">
										<input asp-for="OrderShopping.LastName" class="form-control" />
										<span asp-validation-for="OrderShopping.LastName" class="text-danger"></span>
										</div>
									<div class="col-3">
										<label>Email</label>
										</div>
								<div class="col-9">
									<input asp-for="OrderShopping.Email" class="form-control" />
									<span asp-validation-for="OrderShopping.Email" class="text-danger"></span>
									</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>PhoneNumber</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderShopping.PhoneNumber" class="form-control" />
									<span asp-validation-for="OrderShopping.PhoneNumber" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Street1</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderShopping.Street1" class="form-control" />
									<span asp-validation-for="OrderShopping.Street1" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Street1</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderShopping.Street2" class="form-control" />
									<span asp-validation-for="OrderShopping.Street2" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>City</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderShopping.City" class="form-control" />
									<span asp-validation-for="OrderShopping.City" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>State</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderShopping.State" class="form-control" />
									<span asp-validation-for="OrderShopping.State" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Postal Code</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderShopping.ZipCode" class="form-control" />
									<span asp-validation-for="OrderShopping.ZipCode" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Country</label>
									</div>
								<div class="col-9">
									<input asp-for="OrderShopping.Country" class="form-control" />
									<span asp-validation-for="OrderShopping.Country" class="text-danger"></span>
									</div>
								</div>
						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-info">Order Summary:</span>
							</h4>
							<ul class="list-group mb-3">
								@foreach(var product in Model.CartItems)
								{
									
									<div class="row">
							<div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
								<!-- Image -->
								<div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
									 <img src="@product.Product.ImageUrl" class="rounded" width="100%" />
									<a href="#!">
										<div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
									</a>
								</div>
							</div>

							<div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
								<p><strong>@product.Product.Title</strong></p>
								<p>Quantity: @product.Quantity</p>
							</div>
						</div>
									<li class="list-group-item d-flex justify-content-between">
										<div>
											<h6 class="my-0">@product.Product.Title</h6>
											<small class="text-muted">Quantity: @product.Quantity</small>
										</div>
										<span class="text-muted">@((product.Price * product.Quantity).ToString("c")) </span>
									</li>
								}
								<li class="list-group-item d-flex justify-content-between bg-light">
									<small class="text-info">Total (NOK)</small>
									<strong class="text-info">@Model.OrderShopping.TotalPrice.ToString("c")</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
            				<div class="row">
            					<div class="col-12 col-md-8 pt-2">
            						<p style="color:maroon; font-size:14px;">Estimated Time To Ready:
            						@DateTime.Now.AddHours(2) - @DateTime.Now.AddHours(7)
            						</p>
            					</div>
	                            <div class="col-12 col-md-4">
		                         
		                            
		                            <button type="submit" asp-action="CheckoutPOST" value="Place Order"  class="btn btn-primary" style="border-radius: 12px"><span class="bi bi-credit-card"></span> pay with card</button>

		                            <div id="paypal-btn" style="border-radius: 12px"></div>

	                            </div>
            				</div>
            			</div>
            		</div>
            	</div>
</form>


@section Scripts
{
	<script src="https://www.paypalobjects.com/api/checkout.js"></script>

	<script>
	let _total = @Html.Raw(Model.OrderShopping.TotalPrice);
	
	paypal.Button.render({
	
	//config env
	
	env: 'sandbox',
	client:{
		sandbox: 'AfGBk5t7LRn5dPIOZJ9RQwlpiUz5_8y3uPLB2nlJYlmSgAaq185dcTbxFH8ump3un_sF3TbYRPawguQ5'
		
	},
	
	//customize button 
	
	local: 'en_US',
	style:{
		size: 'small',
		color: 'gold',
		shape: 'pill'
	}, 
	commit: true,
	
	payment: function(data, actions) {
	  
		return actions.payment.create({
		transactions:[{
			amount:{
				
				total: _total,
				currency: 'NOK'
			}
			
		}]
		
		
		});
	},
	onAuthorize: function (data, actions){
		
		return actions.payment.execute().then(function (){
			
			var url ='@Url.Action("OrderConformPaypal","Cart")';
			window.location.href = url;
			
		});
	}
	
	}, '#paypal-btn');
	
	
	
	</script>



}
